{{% extends 'base.html' %}}

{{% block TITLE %}}Create A New User{{% endblock %}}

{{% block HEADING %}}Create A New User{{% endblock %}}

{{% block CONTENT %}}
<form method="POST">
    <p>First Name<input type="text" id="first_name" name="first_name" placeholder="Enter a first name"></p>
    <p>Last Name<input type="text" id="last_name" name="last_name" placeholder="Enter a last name"></p>
    <p>Image URL<input type="text" id="image_url" name="image_url" placeholder="Provide a profile image of the user"></p>
    <button type="submit" id="create_user_btn">Add</button>
</form>
  
{{% endblock %}}