{% extends 'base.html' %}

{% block TITLE %}Add Post{% endblock %}

{% block HEADING %}Add Post for {{user.first_name}}{% endblock %}

{% block CONTENT %}

<form method="POST">
    <p>Title<input type="text" name="title"></p>
    <p>Content<input type="text" name="content"></p>

    {% for tag in tags %}
    <input type="checkbox" name="tags" value="{{tag.id}}">
    <label for="{{tag.id}}">{{tag.name}}</label>
    {% endfor %}

    <button id="cancel_user_btn"><a href="/users">Cancel</a></button>
    <button type="submit" id="add_post_btn">Add</button>
</form>
  
{% endblock %}