<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block TITLE %} Title Here {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">

</head>

<body class="welcome-page">

    <div class="welcome-container">
        <div class="welcome-container1">
            <p>THOUGHTS</p>
            <p>OPINIONS</p>
            <p>& IDEAS</p>
        </div>
        <div class="welcome-container2">
            <a id="contained-link" href="/home"><button class="btn btn-secondary" id="welcome-btn">Enter</button></a>
        </div>
    </div>
    
</body>
</html>